
body {
font-size: 16px;
font-family: Montserrat;
}
.arriba-logo{
  background: yellowgreen;
  background-image: img("img/cuadros.jpg");
}
.bienvenida{
  text-align: center;
  color: darkgreen;
  text-decoration: none;
}